<h1> Shoutr </h1>
<%= link_to current_user.email, current_user %>
<ul>
  <li><%= link_to "Followed users", :following %>: <%= current_user.followed_users.count %></li>
  <li><%= link_to "Followers", :followers %>: <%= current_user.followers.count %></li>
</ul>

<div>
<%= form_for @shout do |form| %>
  <%= form.text_area :body %>
  <%= form.submit "Shout" %>
<% end %>
</div>
