<h1> Shoutr</h1>
<%= link_to current_user.email, current_user %>
<ul>
  <li><%= link_to "Followed users", :following %>: <%= current_user.followed_users.count %></li>
  <li><%= link_to "Followers", :followers %>: <%= current_user.followers.count %></li>
</ul>

<div>
<%= form_for @shout do |form| %>
  <%= form.text_area :subject, placeholder: "compose new shout..."%>
  <%= form.submit "Shout" %>
<% end %>

<%= form_for @image_subject do |form| %>
  <%= form.text_field :url, placeholder: "image URL" %>
  <%= form.submit "Shout image" %>
<% end %>

</div>

<h4> Timeline </h4>
<ul>
  <%= render current_user.timeline  %>
</ul>
